* {
    font-family:'Roboto', 'Segoe UI', sans-serif ;
}
html,body{
    display: flex;
    width: 100%;
    place-items: center;
    justify-content: center;
    align-items: center;
    text-align: left;  
    font-weight: 300;
    color: white;
    background: linear-gradient(-45deg, #040618, #140622, #6b1f97, #4256ca);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
  
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.con-all{
    background-color: rgb(10, 10, 10);
    margin: 0 auto;
    width: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p, h4{
  text-align: left;
  color: white;
}
.header{
    margin-top: 15%;
    width: 100%;
    height: 30%;
    
}
  
.name{
    font-size: 300%;
    font-weight: bold;
    color: white;
}

.info{
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.word{
    font-size: 24px;
    text-decoration: underline rgb(136, 136, 136);
    animation: text-color 1s linear infinite;
}

.word-1{
    --color-1: #55bbff;
    --color-2: #9512d1;
    --color-3: #ffbe33;
}

.word-2{
    --color-1: #ffbe33;
    --color-2: #55bbff;
    --color-3: #9512d1;
}
  
.word-3{
    --color-1: #9512d1;
    --color-2: #ffbe33;
    --color-3: #55bbff;
}

  @keyframes text-color {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  

.navbar{
  position: fixed;
  top: 20px;
  border-radius: 30px;
  border: solid 1px white;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(150, 150, 150, 0.2);
  backdrop-filter: blur(10px);
}

.nav-item{
  margin: 0 auto;
  background-color: transparent;
  border-radius: 20px;
  padding: 3px 10px;
  border: 1px transparent;
}

.nav-item:hover,
.nav-item::selection{
  background-color: rgba(177, 114, 185, 0.2);
  border:solid 1px #9512d1;
}

.container-contact{
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.contact {
  padding: 0;
  list-style: none;
}

.navc-item{
  padding: 10px;
  margin: 0 10px;
}

.buttonc-img{
  width: 50px;
  height: 50px;
}

h5{
  padding-top: 1rem;
  font-weight: 300;
}

.container{
  margin: 40px;
  width: 90%;
}

.skill-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill{
  
  font-weight: 300;
  padding: 0.3rem 1rem;
  margin: 10px 10px;
  width: fit-content;
  background-color: rgb(31, 31, 31);
  border-radius: 1px;
  border: solid rgb(200, 200, 200) 0.1px;
}

.table{
  text-align: left;
  color: white;
}
.exp-date{
  text-align: right;
}

.project-card{
  display: flexbox;
  flex-direction: column;
  width: 45%;
  height: max-content;
  min-height: 320px;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  border: solid 1px rgb(46, 153, 172);;
  padding: 3rem;
  margin: 1rem;
}

.project-card:hover{
  background-color: rgba(37, 37, 37, 0.2);
}

.button-img{
  width: 50px;
  height: 50px;
  border-radius: 15px;
  filter: g;
}

.button-img:hover{
  box-shadow: 1px 2px 4px rgb(44, 98, 179);
}

.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skill-p{
  font-size: 14px;
  font-weight: 300;
  padding: 0.3rem 1rem;
  margin: 5px;
  width: fit-content;
  color: rgb(46, 153, 172);  
  border-radius: 20px;
  border: solid rgb(46, 153, 172) 0.1px;
}